@model UpdateSocialMediaRequest

@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="card-body">

            <h4 class="card-title">Sosyal Medya Veri Güncelleme Alanı</h4>
            <form method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label for="exampleInputName">Başlık</label>
                    <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Başlığı Giriniz">
                </div>
                <div class="form-group">
                    <label for="exampleInputUrl">Url</label>
                    <input  class="form-control" id="exampleInputUrl" asp-for="Url" placeholder="Sosyal Medya Linkini Giriniz"/> 
                </div>
                <div class="form-group">
                    <label for="exampleInputIcon">Sosyal Medya İkon </label>
                    <input type="text" class="form-control" id="exampleInputIcon" asp-for="Icon" placeholder="Sosyal Medya İkon Bilgisini Giriniz">
                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light"> Sosyal Medya Bilgisini Güncelle</button>
            </form>

        </div> <!-- end card-body-->
    </div> <!-- end card-->


</div>

