@model WriterByBlogWriterDto

<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="@Model.WriterImageUrl" alt="Image placeholder" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>@Model.WriterName</h3>
        <p>@Model.WriterDescription</p>
    </div>
</div>