@model CreateLocationRequest

@{
    ViewData["Title"] = "CreateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="card-body">

            <h4 class="card-title">Lokasyon Veri Girişi Alanı</h4>
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputName">Lokasyon Adı</label>
                    <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Lokasyon Adını Giriniz">
                </div>
                <button type="submit" class="btn btn-primary waves-effect waves-light"> Lokasyonu Kaydet</button>
            </form>

        </div> <!-- end card-body-->
    </div> <!-- end card-->


</div>
<!-- end card-body-->
