@model List<PricingDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;

}


<div class="page-content">
    <div class="row">
        <div class="card-body">
            <h4 class="card-title">Ödeme Türleri Alanı</h4>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Periyoy Adı</th>
                            <th>Sil</th>
                            <th>Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Name</td>
                                <td><a href="/Admin/Pricing/RemovePricing/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Admin/Pricing/UpdatePricing/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Admin/Pricing/CreatePricing/" class="btn btn-outline-primary">Yeni Hakkımda Alanı Girişi</a>
            </div>

        </div>
        <!-- end card-body-->
    </div>
    <!-- end card -->

</div>






